Mean across cross-val runs

In [13]:
from os.path import join
from os import listdir
import torch
import pandas as pd

In [15]:
configs = [
    'competitions/2020/melanoma-classification/configs/resnet18/cifarbaseline-balanced',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-balanced-fold2',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-balanced-fold3',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-balanced-fold4',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-balanced-fold5']

In [16]:
all_predictions = None

for index, config in enumerate(configs):
    pred_path = join('/output', config, 'logs/evaluation/test.csv')
    fold_predictions = pd.read_csv(pred_path)
    fold_predictions = fold_predictions.rename(columns={'target': f'target{index+1}'})
    if all_predictions is None:
        all_predictions = fold_predictions
    else:
        all_predictions = pd.merge(all_predictions, fold_predictions, on='image_name')

In [17]:
all_predictions

         image_name   target1   target2   target3   target4   target5
0      ISIC_0052060  0.000416  0.001901  0.000221  0.010572  0.000073
1      ISIC_0052349  0.001193  0.019405  0.002555  0.014588  0.000228
2      ISIC_0058510  0.000071  0.000682  0.000645  0.000101  0.000127
3      ISIC_0073313  0.000128  0.000436  0.000345  0.000072  0.000076
4      ISIC_0073502  0.015534  0.028881  0.008562  0.036447  0.002173
...             ...       ...       ...       ...       ...       ...
10977  ISIC_9992485  0.008982  0.112720  0.067432  0.104989  0.008463
10978  ISIC_9996992  0.129929  0.372249  0.084280  0.261343  0.076827
10979  ISIC_9997917  0.617993  0.612054  0.218877  0.434894  0.218814
10980  ISIC_9998234  0.002222  0.008715  0.023961  0.004383  0.000848
10981  ISIC_9999302  0.394385  0.164403  0.049496  0.147523  0.527970

[10982 rows x 6 columns]

In [18]:
target_columns = [f'target{index+1}' for index in range(len(configs))]

In [19]:
target_columns

['target1', 'target2', 'target3', 'target4', 'target5']

In [20]:
all_predictions

         image_name   target1   target2   target3   target4   target5
0      ISIC_0052060  0.000416  0.001901  0.000221  0.010572  0.000073
1      ISIC_0052349  0.001193  0.019405  0.002555  0.014588  0.000228
2      ISIC_0058510  0.000071  0.000682  0.000645  0.000101  0.000127
3      ISIC_0073313  0.000128  0.000436  0.000345  0.000072  0.000076
4      ISIC_0073502  0.015534  0.028881  0.008562  0.036447  0.002173
...             ...       ...       ...       ...       ...       ...
10977  ISIC_9992485  0.008982  0.112720  0.067432  0.104989  0.008463
10978  ISIC_9996992  0.129929  0.372249  0.084280  0.261343  0.076827
10979  ISIC_9997917  0.617993  0.612054  0.218877  0.434894  0.218814
10980  ISIC_9998234  0.002222  0.008715  0.023961  0.004383  0.000848
10981  ISIC_9999302  0.394385  0.164403  0.049496  0.147523  0.527970

[10982 rows x 6 columns]

In [21]:
all_predictions['target'] = all_predictions[target_columns].median(axis=1)

In [22]:
all_predictions = all_predictions.drop(columns=target_columns)

In [23]:
all_predictions

         image_name    target
0      ISIC_0052060  0.000416
1      ISIC_0052349  0.002555
2      ISIC_0058510  0.000127
3      ISIC_0073313  0.000128
4      ISIC_0073502  0.015534
...             ...       ...
10977  ISIC_9992485  0.067432
10978  ISIC_9996992  0.129929
10979  ISIC_9997917  0.434894
10980  ISIC_9998234  0.004383
10981  ISIC_9999302  0.164403

[10982 rows x 2 columns]

In [24]:
all_predictions.to_csv('submissions/resnet18-cifarbaseline-balanced-cv-median.csv', index=False)