Mean across cross-val runs

In [1]:
from os.path import join
from os import listdir
import torch
import pandas as pd

In [2]:
configs = [
    'competitions/2020/melanoma-classification/configs/resnet18/cifarbaseline',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-fold2',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-fold3',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-fold4',
    'competitions/2020/melanoma-classification/configs/resnet18-cv/cifarbaseline-fold5']

In [3]:
all_predictions = None

for index, config in enumerate(configs):
    pred_path = join('/output', config, 'logs/evaluation/test.csv')
    fold_predictions = pd.read_csv(pred_path)
    fold_predictions = fold_predictions.rename(columns={'target': f'target{index+1}'})
    if all_predictions is None:
        all_predictions = fold_predictions
    else:
        all_predictions = pd.merge(all_predictions, fold_predictions, on='image_name')

In [4]:
all_predictions

         image_name   target1   target2   target3   target4   target5
0      ISIC_0052060  0.005939  0.007948  0.015634  0.018461  0.002872
1      ISIC_0052349  0.004963  0.001551  0.012576  0.017671  0.009287
2      ISIC_0058510  0.003048  0.002845  0.006340  0.007044  0.006304
3      ISIC_0073313  0.001666  0.002237  0.006016  0.009375  0.009462
4      ISIC_0073502  0.013886  0.007178  0.027645  0.016735  0.015257
...             ...       ...       ...       ...       ...       ...
10977  ISIC_9992485  0.017582  0.005159  0.029608  0.063130  0.046397
10978  ISIC_9996992  0.060697  0.034356  0.050850  0.090373  0.048499
10979  ISIC_9997917  0.046128  0.029130  0.076342  0.059369  0.030752
10980  ISIC_9998234  0.006055  0.004087  0.013707  0.019695  0.006570
10981  ISIC_9999302  0.033984  0.012031  0.067915  0.033717  0.019015

[10982 rows x 6 columns]

In [5]:
target_columns = [f'target{index+1}' for index in range(len(configs))]

In [6]:
target_columns

['target1', 'target2', 'target3', 'target4', 'target5']

In [7]:
all_predictions

         image_name   target1   target2   target3   target4   target5
0      ISIC_0052060  0.005939  0.007948  0.015634  0.018461  0.002872
1      ISIC_0052349  0.004963  0.001551  0.012576  0.017671  0.009287
2      ISIC_0058510  0.003048  0.002845  0.006340  0.007044  0.006304
3      ISIC_0073313  0.001666  0.002237  0.006016  0.009375  0.009462
4      ISIC_0073502  0.013886  0.007178  0.027645  0.016735  0.015257
...             ...       ...       ...       ...       ...       ...
10977  ISIC_9992485  0.017582  0.005159  0.029608  0.063130  0.046397
10978  ISIC_9996992  0.060697  0.034356  0.050850  0.090373  0.048499
10979  ISIC_9997917  0.046128  0.029130  0.076342  0.059369  0.030752
10980  ISIC_9998234  0.006055  0.004087  0.013707  0.019695  0.006570
10981  ISIC_9999302  0.033984  0.012031  0.067915  0.033717  0.019015

[10982 rows x 6 columns]

In [9]:
all_predictions['target'] = all_predictions[target_columns].median(axis=1)

In [10]:
all_predictions = all_predictions.drop(columns=target_columns)

In [11]:
all_predictions

         image_name    target
0      ISIC_0052060  0.007948
1      ISIC_0052349  0.009287
2      ISIC_0058510  0.006304
3      ISIC_0073313  0.006016
4      ISIC_0073502  0.015257
...             ...       ...
10977  ISIC_9992485  0.029608
10978  ISIC_9996992  0.050850
10979  ISIC_9997917  0.046128
10980  ISIC_9998234  0.006570
10981  ISIC_9999302  0.033717

[10982 rows x 2 columns]

In [12]:
all_predictions.to_csv('submissions/resnet18-cifarbaseline-cv-median.csv', index=False)